.heart-img {
    width: 220px;
    height: 220px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);

    /* ทำให้เป็นรูปหัวใจ */
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 32 29.6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M23.6,0c-3.4,0-6.4,2.1-7.6,5.1C14.8,2.1,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,16,21.2,16,21.2S32,17.8,32,8.4C32,3.8,28.2,0,23.6,0z'/%3E%3C/svg%3E");
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;

    mask-image: inherit;
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: center;
}